<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for n in course_list%}

    <div> {{n}} </div>

    {% endfor %}
    
    <br>

    <table>
        <tr>
             <th> Name </th> 
             <th> Roll:NO: </th>
            
            </tr>

            <tr> 
                {% for i in student %}

               <td> {{i.Name}}</td>
               <td>{{i.Course}}</td>
            
                {% endfor %}
            </tr>

    
    </table>
   

    
</body>
</html>